<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outerpack.mapper.CandidateMapper">
    <select id="getCandidateById" resultType="com.outerpack.entity.pojo.Candidate">
        select *
        from candidates
        where can_id=#{ID};
    </select>
    <resultMap id="candidate" type="com.outerpack.entity.vo.Candidate.CandidateBrief">
        <id property="canId" column="can_id"/>
        <id property="canName" column="can_name"/>
        <id property="canAge" column="can_age"/>
        <id property="canExperience" column="can_experience"/>
        <id property="canWantPosition" column="can_wantPosition"/>
    </resultMap>
    <select id="getCandidateList" resultMap="candidate">
        select can_id,can_name,can_age,can_experience,can_wantPosition
        from candidates
    </select>
    <insert id="addCandidate" parameterType="com.outerpack.entity.pojo.Candidate">
        insert into candidates
            (can_id,can_name,can_age,can_experience,can_wantPosition,can_identify,can_dep,can_grade,can_power,can_gender,can_date,can_salary,can_phone,can_head)
            values
            (#{canId},#{canName},#{canAge},#{canExperience},#{canWantPosition},#{canIdentify},#{canDep},#{canGrade},#{canPower},#{canGender},#{canDate},#{canSalary},#{canPhone},#{canHead})
    </insert>
    <update id="updateGradeById">
        update candidates
        set can_grade=#{newGrade}
        where can_id=#{candidateId}
    </update>
    <delete id="deleteCandidateById">
        delete from candidates
        where can_id=#{ID}
    </delete>

    <select id="getAllCandidateCount" resultType="int">
        select count(*) from candidates
    </select>
    <select id="getCandidateByPowerString" parameterType="java.lang.String" resultMap="candidate">
        select can_id,can_name,can_age,can_experience,can_wantPosition
        from candidates
        where  can_power like concat(concat('%',#{power},'%'))
    </select>
</mapper>