<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outerpack.mapper.ManagerMapper">

    <resultMap id="managerResult" type="com.outerpack.entity.vo.Manager.ManagerResult">
        <id property="man_id" column="man_id"/>
        <id property="username" column="man_username"/>
        <id property="password" column="man_password"/>
    </resultMap>
    <select id="getManagerByName" resultMap="managerResult" >
        select man_id,man_username,man_password
        from recruit.manager
        where man_username=#{username};
    </select>
    <select id="getManagerById" resultMap="managerResult">
        select man_id,man_username,man_password
        from recruit.manager
        where man_id=#{ID}
    </select>
    <update id="changePassword">
        update recruit.manager
        set man_password=#{password}
        where man_username=#{username};
    </update>
</mapper>